bin
lib
doc
debug
release
Debug
Release
Makefile
*.Debug
*.Release
*.user
ui_*.h
tmp
obj
ui_tmp
ver
settings
users
.qmake.stash
*.pdb
*.db
*.opendb
*.ipch
*.suo
*.dll
.vs
ipch
version.h
*.ncb
*.aps
*.obj
GeneratedFiles
*.qm
*.exe
build.h
